.container_registration{

    padding: 20px;
    margin-right: 10px;
}

.menu{

}

.buttons{
    padding: 20px;
    margin-right: 10px;
    background: lightblue;
    box-shadow: 0 4px 10px #ccc;
    border-radius: 10px;
    height: 100%;
}

.btn{
    border-radius: 6px;
}

.menu button{
    margin-bottom: 10px;
    width: 100%;
}

.main{

}

.courses{
    padding: 20px;
    margin-right: 10px;
    box-shadow: 0 4px 10px #ccc;
    border-radius: 20px;
}

.basket{
    padding: 20px;
    margin-right: 10px;
    box-shadow: 0 4px 10px #ccc;
    border-radius: 20px;
}

.info-container{
    display: flex;
}

.info{
    margin-right: 5%;
}

.basket-header{
    display: flex;
}

.btn-register{
    position: absolute;
    left: 86%;
}

.div-approval{
    position: absolute;
    left: 86%;
}